<div class="post">
  <h3><%= locals[:post].title %></h3>
  <p><%= locals[:post].text %></p>
  <p class="comments_likes">Comments: <%=locals[:post].comment_counter%>, Likes: <%=locals[:post].like_counter%></p>
</div>